body {
    color: #707070;
    font-size: 1.125rem;
    margin: 0;
}

/* Topography */

h1 {
    font-size: 3rem;
    color: #212614;
    text-align: center;
}

h1 span {
    color: #B7832F;
}

h2 {
    font-size: 1.5rem;
}

p {
    margin-top: 0;
    text-align: justify;
}

/* Layout */

.container {
    width: 95%;
    max-width: 980px;
    margin: 0 auto;
}

.columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1em 0;
}

.col {
    /* border: 1px solid purple; */
    padding: .5em;
}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 45%;
}

.col-3 {
    width: 70%;
}

.col-bg {
    background-color: #212614;
    color: #fff;
    padding: .5em;
    text-align: left;
}

img {
    max-width: 100%;
}

/* Media Query */

@media (max-width: 600px) {
    .columns {
        flex-direction: column;
    }
    .col-1, .col-2, .col-3 {
        width: 100%;
    }
}